{% if item['bonding_options'] is defined and item['bonding_options'] != '' %}
{% for k,v in item['bonding_options'].items() %}
{% if loop.first %}
{{ 'BONDING_OPTS=\"' -}}
{% endif %}
{{ k + '=' + v -}}
{% if loop.last %}
{{ '\"' }}
{% else %}
{{ ' ' -}}
{% endif %}
{% endfor %}
{% endif %}
