---
- name: network-scripts | Deploy CHAP secrets
  template:
    src: "network_global.j2"
    dest: "{{ hostvars[inventory_hostname]['network_scripts_ppp_dest'] + '/' + vars['secret_type'] + '-secrets' }}"
    group: "root"
    owner: "root"
    force: "yes"
    mode: "0644"
  vars:
    secret_type: 'chap'
- name: network-scripts | Deploy PAP secrets
  template:
    src: "network_global.j2"
    dest: "{{ hostvars[inventory_hostname]['network_scripts_ppp_dest'] + '/' + vars['secret_type'] + '-secrets' }}"
    group: "root"
    owner: "root"
    force: "yes"
    mode: "0644"
  vars:
    secret_type: 'pap'
