---
- name: network-scripts | Deploy global settings
  ansible.builtin.template:
    src: "network_global.j2"
    dest: "{{ hostvars[inventory_hostname]['network_scripts_sysconfig_dest'] +
      '/' + 'network' }}"
    group: "root"
    owner: "root"
    force: "yes"
    mode: "0644"
