{# DEVICE is mandatory, so error here if not defined #}
{{ 'DEVICE' + '=\"' + item.interface + '\"' }}
{% if item.description is defined and item.description != '' %}
{{ 'NAME' ~ '=\"' ~ item.description ~ '\"' }}
{% endif %}
{# Some devices can be without TYPE, like IMQ. This works on EL7 #}
{% if item.type is defined and item.type != '' %}
{{ 'TYPE' + '=\"' + item.type + '\"' }}
{% endif %}
{% if item.onboot is defined and item.onboot in ['yes', 'no'] %}
{{ 'ONBOOT' ~ '=\"' ~ item.onboot ~ '\"' }}
{% endif %}
{% if item.bootproto is defined and item.bootproto in ['none', 'dhcp', 'bootp'] %}
{{ 'BOOTPROTO' ~ '=\"' ~ item.bootproto ~ '\"' }}
{% endif %}
{% if item.nm_controlled is defined and item.nm_controlled in ['yes', 'no'] %}
{{ 'NM_CONTROLLED' ~ '=\"' ~ item.nm_controlled ~ '\"' }}
{% endif %}
{% if item.mtu is defined and item.mtu != '' %}
{{ 'MTU' ~ '=\"' ~ item.mtu ~ '\"' }}
{% endif %}
{% if item.macaddr is defined and item.macaddr | hwaddr() %}
{{ 'MACADDR' + '=\"' + item.macaddr + '\"' }}
{% endif %}
