{% if item.address is defined and item.address != '' %}
{% if item.address is string and item.address | ipaddr('host/prefix') %}
{{ 'IPADDR' + '=\"' + item.address | ipaddr('address') + '\"' }}
{{ 'PREFIX' ~ '=\"' ~ item.address | ipaddr('prefix') ~ '\"' }}
{% elif item.address is sequence %}
{% for addr in item.address %}
{% if addr | ipaddr('host/prefix') %}
{{ 'IPADDR' ~ loop.index ~ '=\"' ~ addr | ipaddr('address') ~ '\"' }}
{{ 'PREFIX' ~ loop.index ~ '=\"' ~ addr | ipaddr('prefix') ~ '\"' }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% if item.gateway is defined and item.gateway | ipaddr('host') %}
{{ 'GATEWAY' + '=\"' + item.gateway + '\"' }}
{% endif %}
{% if item.dns is defined and item.dns | ipaddr('host') %}
{% endif %}
{% if item.dns is defined and item.dns != '' %}
{% if item.dns is string and item.address | ipaddr('host') %}
{{ 'DNS' + '=\"' + item.dns + '\"' }}
{% elif item.dns is sequence %}
{% for addr in item.dns %}
{% if addr | ipaddr('host') %}
{{ 'DNS' ~ loop.index ~ '=\"' ~ addr | ipaddr('address') ~ '\"' }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
