{% if item.tun_local is defined and item.tun_local | ipaddr('host') %}
{{ 'MY_OUTER_IPADDR=\"' + item.tun_local + '\"' }}
{% endif %}
{% if item.tun_remote is defined and item.tun_remote | ipaddr('host') %}
{{ 'PEER_OUTER_IPADDR=\"' + item.tun_remote + '\"' }}
{% endif %}
{% if item.address_local is defined and item.address_local | ipaddr('host') %}
{{ 'MY_INNER_IPADDR=\"' + item.address_local + '\"' }}
{% endif %}
{% if item.address_remote is defined and item.address_remote | ipaddr('host') %}
{{ 'PEER_INNER_IPADDR=\"' + item.address_remote + '\"' }}
{% endif %}
{% if item.tun_key is defined and item.tun_key %}
{{ 'KEY=\"' ~ item.tun_key ~ '\"' }}
{% endif %}
{% if item.ttl is defined and item.ttl %}
{{ 'TTL=\"' ~ item.ttl ~ '\"' }}
{% endif %}
{% if item.owner is defined and item.owner %}
{{ 'OWNER=\"' ~ item.owner ~ '\"' }}
{% endif %}
